<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\Debug\net8.0\RedOselPublico.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <!--<environmentVariable name="ConnectionString" value="Data Source=13.92.211.136,1438;Initial Catalog=pinturasOselProduccion;User ID=sa;Password=1nT2l34s5r;Connect Timeout=180; Integrated Security=False;TrustServerCertificate=True;Encrypt=True;Application Name=HPM" />-->
			<environmentVariable name="ConnectionString" value="Data Source=DESKTOP-DGB6A4P\SQLEXPRESS;Initial Catalog=IntelimaticaDB;User ID=sa;Password=proyectos06;Connect Timeout=180; Integrated Security=False;TrustServerCertificate=True;Encrypt=True;Application Name=HPM" />

			<environmentVariable name="RateLimitDevelopment" value="99999" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="RateLimitProduction" value="9999" />
          <environmentVariable name="ExpireRefresh" value="240" />
          <environmentVariable name="ExpireApi" value="10" />
          <environmentVariable name="JWT_ISSUER" value="http://localhost/redoselpublico" />
          <environmentVariable name="JWT_AUDIENCE" value="http://localhost/redoselpublico" />
          <environmentVariable name="JWT_REQUIRED_HTTPS" value="true" />
          <environmentVariable name="JWT_SECRET_KEY" value="73d1bfce0ce9e76e76515990bba7ee3690304e6399e3d51c7c8c9ed4699e2065fad5417119309c0c7b462479892944770b6f7776640fa918e32ac8628723a28b" />
          <environmentVariable name="CarpetaReportes" value="osel" />
          <environmentVariable name="LocalAccountName" value="desktop-63hkjo5\intelimatica63" />
          <environmentVariable name="RutaServidorReportes" value="http://localhost/reportserver" />
          <environmentVariable name="ConnectionStringPresupuestos" value="Data Source=201.174.56.67;Initial Catalog=presupuestos;User ID=oselapp;Password=po$6l1pps;Connect Timeout=180; Integrated Security=False;TrustServerCertificate=True;Encrypt=True;Application Name=HPM" />
          <environmentVariable name="ConnectionStringSOIBodegas" value="Data Source=201.174.56.67;Initial Catalog=SOI_Bodegas;User ID=oselapp;Password=po$6l1pps;Connect Timeout=180; Integrated Security=False;TrustServerCertificate=True;Encrypt=True;Application Name=HPM" />
          <environmentVariable name="ConnectionStringPedidos" value="Data Source=201.174.56.67;Initial Catalog=Pedidos;User ID=oselapp;Password=po$6l1pps;Connect Timeout=180; Integrated Security=False;TrustServerCertificate=True;Encrypt=True;Application Name=HPM" />
          <environmentVariable name="PasswordSSRS" value="Proyectos63" />
          <environmentVariable name="UserSSRS" value="Intelimatica63" />
          <environmentVariable name="AlterFolderStaticFiles" value="C:\Proyectos\RedOsel\RedOselPublico\other-files" />
          <environmentVariable name="UrlRoute" value="/other-files" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>