<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\Debug\net8.0\RedOsel.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="JWT_ISSUER" value="http://localhost/redosel" />
          <environmentVariable name="JWT_AUDIENCE" value="http://localhost/redosel" />
          <environmentVariable name="JWT_REQUIRED_HTTPS" value="true" />
          <environmentVariable name="ConnectionString" value="Data Source=13.92.211.136,1438;Initial Catalog=pinturasOselProduccion;User ID=sa;Password=1nT2l34s5r;Connect Timeout=180; Integrated Security=False;TrustServerCertificate=True;Encrypt=True;Application Name=HPM" />
          <environmentVariable name="JWT_SECREY_KEY" value="ed958c2689eb6b157182632ec589f704f12222887847cafd5a77779e3e4e46ba54e94741b94d139e131e214bab7261afb4b0b3e0362773943237fec61e91cbd3" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="RateLimitDevelopment" value="99999" />
          <environmentVariable name="RateLimitProduction" value="9999" />
          <environmentVariable name="JWT_SECRET_KEY" value="ed958c2689eb6b157182632ec589f704f12222887847cafd5a77779e3e4e46ba54e94741b94d139e131e214bab7261afb4b0b3e0362773943237fec61e91cbd3" />
          <!--<environmentVariable name="ConnectionStringPO2014" value="Data Source=DESKTOP-URCRFIT\SQLEXPRESS;Initial Catalog=pinturasosel2014;User ID=sa;Password=12345678;Connect Timeout=180; Integrated Security=False;TrustServerCertificate=True;Encrypt=True;Application Name=HPM" />-->
			<environmentVariable name="ConnectionString" value="Data Source=DESKTOP-DGB6A4P\SQLEXPRESS;Initial Catalog=IntelimaticaDB;User ID=sa;Password=proyectos06;Connect Timeout=180; Integrated Security=False;TrustServerCertificate=True;Encrypt=True;Application Name=HPM" />

			<!--<environmentVariable name="ConnectionStringPO2014" value="Data Source=23.91.70.104;Initial Catalog=pinturasosel2014;User ID=oselapp;Password=6$fpM00h7;Connect Timeout=180; Integrated Security=False;TrustServerCertificate=True;Encrypt=True;Application Name=HPM" />-->
		  <!--<environmentVariable name="ConnectionString" value="Data Source=13.92.211.136,1438;Initial Catalog=pinturasOselProduccion;User ID=sa;Password=1nT2l34s5r;Connect Timeout=180; Integrated Security=False;TrustServerCertificate=True;Encrypt=True;Application Name=HPM" />-->
		  <!--<environmentVariable name="ConnectionString" value="Data Source=3.20.22.79;Initial Catalog=admon_pinturasOsel;User ID=oseluser;Password=webosel2021;Connect Timeout=180; Integrated Security=False;TrustServerCertificate=True;Encrypt=True;Application Name=HPM" />-->

			<environmentVariable name="ExpireRefresh" value="240" />
          <environmentVariable name="ExpireApi" value="10" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>