@{
    ViewBag.Title = "Responsabilidad Social";
}

<main class="row" id="appResponsabilidadSocial">
    <div class="div-bg col-12 row">
        <div class="col-3 col-sm-1 p-2">
            <div class="card ico-osel">
                <i class="bg-osel icon icon-gradient bi bi-person-raised-hand h-100 d-flex align-items-center w-100"></i>
            </div>
        </div>
        <div class="col-9 col-sm-11 p-2">
            <h5 class="d-flex w-100 h-100 align-items-center">Responsabilidad Social</h5>
        </div>
    </div>

    <!-- Inicio acordeón -->
    <div id="acordeonProductos" class="col-12 mt-3">
        <div class="card">
            <div class="card-header bg-blue-dark"
                 style="cursor: pointer"
                 @@click="abreAcordion"
                 data-toggle="collapse"
                 data-target="#collapseOne"
                 aria-expanded="true"
                 aria-controls="collapseOne">
                <div class="row">
                    <div class="col-11">
                        <h5 class="m-0 text-white">Filtros</h5>
                    </div>
                    <div class="col-1">
                        <span :class="icono" class="text-white"></span>
                    </div>
                </div>
            </div>
            <div id="collapseOne"
                 class="collapse"
                 aria-labelledby="headingOne"
                 data-parent="#acordeonProductos">
                <div class="card-body">
                    <div class="row">                       
                        <div class="col-12 col-md-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text btn-prepend-primary">Nombre</div>
                                </div>
                                <input type="text" class="form-control" v-model="value.nombreFiltro" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="button" class="btn btn-secondary" @@click="limpiar(0)">
                                <span class="lnr lnr-undo">&nbsp;</span>
                                Limpiar filtros
                            </button>
                            &nbsp;
                            <button class="btn btn-prepend-primary" @@click="getOrganizaciones">
                                <span class="lnr lnr-magnifier">&nbsp;</span>
                                Consultar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Acordeón -->

    <div class="col-12">
        <div class="w-100 d-flex justify-content-between">
            <button class="btn btn-prepend-primary" @@click="agregarOrganizacion">
                <span class="bi bi-plus-square">&nbsp;</span>
                Agregar organización
            </button>
        </div>
    </div>

    <div class="col-12 mt-3">

        <div class="table-responsive" v-cloak>
            <table class="table table-striped" v-cloak>
                <thead class="header-table">
                    <tr>
                        <th>
                            Acciones

                        </th>
                        <th>
                            <div class="d-flex justify-content-between align-items-end w-100">
                                Nombre
                                <div>
                                    <div class="w-100" style="max-height:13px;">
                                        <button class="bg-transparent text-light border-0 p-0 m-0" :disabled="array.empresas.length === 0" :class="sorted.nombre.iconoAsc" role="button" @@click="eligeFiltro(1)"></button>
                                    </div>
                                    <div class="w-100" style="max-height:13px;">
                                        <button class="bg-transparent text-light border-0 p-0 m-0" :disabled="array.empresas.length === 0" :class="sorted.nombre.iconoDesc" role="button" @@click="eligeFiltro(1, false)"></button>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex justify-content-between align-items-end w-100">
                                URL
                                <div>
                                    <div class="w-100" style="max-height:13px;">
                                        <button class="bg-transparent text-light border-0 p-0 m-0" :disabled="array.empresas.length === 0" :class="sorted.url.iconoAsc" role="button" @@click="eligeFiltro(2)"></button>
                                    </div>
                                    <div class="w-100" style="max-height:13px;">
                                        <button class="bg-transparent text-light border-0 p-0 m-0" :disabled="array.empresas.length === 0" :class="sorted.url.iconoDesc" role="button" @@click="eligeFiltro(2, false)"></button>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="d-flex justify-content-between align-items-end w-100">
                                Publicado
                                <div>
                                    <div class="w-100" style="max-height:13px;">
                                        <button class="bg-transparent text-light border-0 p-0 m-0" :disabled="array.empresas.length === 0" :class="sorted.publicado.iconoAsc" role="button" @@click="eligeFiltro(3)"></button>
                                    </div>
                                    <div class="w-100" style="max-height:13px;">
                                        <button class="bg-transparent text-light border-0 p-0 m-0" :disabled="array.empresas.length === 0" :class="sorted.publicado.iconoDesc" role="button" @@click="eligeFiltro(3, false)"></button>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-cloak v-for="item in array.empresas" :key="item.id_responsabilidad_social">
                        <td class="text-nowrap">
                            <button class="btn btn-sm" @@click="getOrganizacion(item)" title="Detalle organización">
                                <span class="lnr lnr-magnifier"></span>
                            </button>
                            <button class="btn btn-sm" @@click="organizacionElimina(item)" title="Eliminar organización">
                                <span class="bi bi-trash"></span>
                            </button>
                        </td>
                        <td>{{item.nombre}}</td>
                        <td>
                            <a :href="item.url" target="_blank" rel="nofollow noreferrer">{{item.url}}</a>
                        </td>
                        <td>{{item.publicado ? 'Sí': 'No'}}</td>
                    </tr>
                </tbody>
            </table>

            <div v-if="array.empresas.length === 0">
                <h4>Sin organizaciones</h4>
            </div>         

        </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" ref="modalEmpresa" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">{{tituloModal}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-md-5">
                            <label class="m-0 label-primary">Nombre</label>
                            <input  type="text" class="cg-input-adicional p-1" v-model="value.nombre"/>
                        </div>
                        <div class="col-12 col-md-5">
                            <label class="m-0 label-primary">URL</label>
                            <input type="text" class="cg-input-adicional p-1" v-model="value.url" @@focusout="isUrlValid($event.target.value)" />
                        </div>
                        <div class="col-12 col-md-2">
                            <div class="w-100 h-100 d-flex align-items-center justify-content-start mt-2">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1" v-model="check.publicado">
                                    <label class="custom-control-label" for="customSwitch1">Publicado</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div>
                                <button class="btn-prepend-primary my-2 btn" @@click="agregaArchivo(0)">
                                    <i class="bi bi-search"></i>
                                    &nbsp;
                                    Agregar logo mini
                                </button>
                                &nbsp;
                                <i><small>(120px x 80px ó 130px x 75px)</small></i>
                            </div>
                            <a class="d-block w-100" v-if="nombreArchivoMini.trim() !== ''">Archivo elegido:&nbsp;{{nombreArchivoMini}}</a>
                            <a class="d-block w-100" v-if="logoMini.trim() !== ''" target="_blank" :href="hrefLogoMini">Archivo actual:&nbsp;{{logoMini}}</a>
                        </div>
                        <div class="col-12 col-md-5">
                            <div>
                                <button class="btn-prepend-primary my-2 btn" @@click="agregaArchivo(1)">
                                    <i class="bi bi-search"></i>
                                    &nbsp;
                                    Agregar logo
                                </button>
                                &nbsp;
                                <i><small>(220px x 160px ó 250px x 180px)</small></i>
                            </div>
                            <a class="d-block w-100" v-if="nombreArchivo.trim() !== ''">Archivo elegido:&nbsp;{{nombreArchivo}}</a>
                            <a class="d-block w-100" v-if="logo.trim() !== ''" target="_blank" :href="hrefLogo">Archivo actual:&nbsp;{{logo}}</a>
                        </div>

                        <div class="col-12">
                            <label class="label-primary">Descripción</label>
                            <textarea id="taDescripcion"></textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @@click="guardar">
                        <span class="bi bi-check-circle"></span>
                        Guardar
                    </button>
                    <button type="button" class="btn btn-secondary ml-1" data-dismiss="modal">
                        <span class="bi bi-x-circle"></span>
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="~/js//views/responsabilidad-social.js" asp-append-version="true"></script>