@{
    ViewBag.Title = "Especificaciones";
}


<section id="appEspecificaciones">
    <div class="text-center pt-4">
        <div class="title-container">
            <span class="border-text fw-bolder " style="color:#353433 !important">Especificaciones</span>
            <div class="border-box" style="border-color:#353433 !important"></div>
        </div>
        <p class="text-normal m-0 fs-7 text-center">
        </p>
    </div>

    <div class="container my-2 px-xl-5">
        <div class="d-flex flex-wrap flex-column flex-md-row w-100 px-lg-2 px-xl-5">

            <div class=" col-12 col-md-6 col-lg-3 py-3 px-lg-2 px-xl-3 px-2"                
                v-for="item in array.especificaciones" v-if="array.especificaciones && array.especificaciones.length > 0">
                <div class="card shadow-osel rounded-4 h-100 py-3">
                    <img :src="item.logo" class="card-img-top img-fluid" :alt="item.titulo">
                    <div class="card-body">
                        <h5 class="card-title text-lg text-center fw-bold">{{item.titulo}}</h5>
                        <p class="fs-7-5 text-secondary fw-semibold">
                            {{item.especificacion}}
                            <a class="fs-7" :href="item.url" target="_blank" :title="item.titulo">{{item.url}}</a>
                        </p>
                    </div>
                    <div class="dropdown align-self-center dropup" v-if="item.multimedia && item.multimedia.length > 0">
                        <button class="btn btn-drop btn-custom-2 w-100 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="mr-5">Documentos</span>
                            &nbsp;
                            <i class="fa-solid fa-download"></i>
                        </button>
                        <ul class="dropdown-menu bg-body-secondary">
                            <li v-for="file in item.multimedia" class="fs-7">
                                <a class="dropdown-item" role="button">
                                    <span role="button" class="fw-bold fs-7 fw bi bi-eye px-1 py-0 rounded btn btn-sm text-blue" title="Ver" @@click="verArchivo($event, file)"></span>
                                    &nbsp;
                                    <span role="button" class="fw-bold fs-7 bi bi-download rounded px-1 py-0 btn btn-sm text-warning-2" title="Descargar" @@click="descargar(file)"></span>
                                    &nbsp;
                                    {{file.titulo ?? file.archivo}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
               
            </div>

           

            <div class="col-12" v-if="array.especificaciones.length === 0">
                @* <h3 class="fw-bold text-center">Sin especificaciones disponibles</h3> *@
            </div>

        </div>
    </div>
    
</section>

<script src="~/js/views/especificaciones.js" asp-append-version="true"></script>
