@{
    ViewBag.Title = "Galería Millennium";
}

<section>
    <div class="background-container-banner  py-2 position-relative d-block" id="divBanner">
        <img class="bg-banner d-none" id="bannerMillenium" alt="banner">
        <div class="container d-flex flex-column">
            <div class="container-text d-flex flex-column flex-md-row justify-content-between align-items-center gap-4">
                <!-- Columna de bienvenida -->
                <div class="col-12  p-0 m-0 text-center text-md-start">
                    <h3  class="fw-bold m-0 text-white text-shadow-osel">
                        GALERÍA MILLENNIUM
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container-sm my-2 mt-3">
        <div class="w-100 d-flex justify-content-center">
            <div class="rounded-4 card-nosotros ">
                <div class="col-12 p-3">
                    <p class="m-0 text-lg fw-bold text-xs text-md-center text-lg-start" style="color: #2196f3;">
                        Sistema de Color Millennium ™
                    </p>
                    <br />
                    <div class="d-flex flex-column flex-md-row align-items-center" style="margin-left: 0;">
                        <img src="~/imagenes/Nosotros/nosotros-millennium.png" class="mr-2 img-millennuim" alt="Logo">
                        <p class="ml-2 text-justify mb-0" style="flex: 1; margin-left: 20px;">
                            Pinturas Osel, siempre un paso adelante en recubrimientos decorativos, cuenta el sistema de Color Millennium, formado por una paleta de 1,488 colores (192 familias exclusivas) 
                            balanceada armoniosamente y que permite satisfacer el proyecto más exigente. <br /> <br />
                            El arreglo artístico de los colores hace que sea muy sencillo encontrar y facilitar la búsqueda de los colores de su preferencia.
                        </p>

                    </div>
                    <p class="text-justify mt-2">
                        El Sistema de Color Millennium está dividido en 6 grupos (selecciona uno):
                    </p>

                    <p class="text-justify">
                        <ul>
                            <li>Colores en Blanco</li>
                            <li>Colores Limpios</li>
                            <li>Colores Pastel</li>
                            <li>Colores Medios</li>
                            <li>Colores Neutros</li>
                            <li>Colores Obscuros</li>
                        </ul>

                    </p>

                    <p class="text-justify">
                        Los valores de reflectancia a la luz (LRV) y Munsell se especifican para cada color.
                    </p>
                    <p class="text-justify">
                        Dos notas adicionales se indican con el color cuando así aplique:
                    </p>
                    <p class="text-justify">
                        <ul>
                            <li>(Sólo Interiores) Para aquellos colores que tienen baja resistencia a los rayos UV.</li>
                            <li>(Bajo Cubriente) Para aquellos colores que son más transparentes.</li>
                        </ul>

                    </p>

                    <p class="text-justify">
                        Es importante mencionar que para lograr fidelidad real del color y un cubriente satisfactorio, los colores designados como "Bajo Cubriente" requerirán de un primario opaco y varias capas de pintura.
                    </p>

                    <p class="text-justify">
                        Una nota adicional: Estas simulaciones en computadora sólo se aproximan al color de la pintura después del secado. Para igualaciones críticas de color, se deberá aplicar una muestra de pintura, dejarla secar y revisarla antes de empezar a pintar toda la superficie.
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>


<script src="~/js/views/galeria-milei.js" asp-append-version="true"></script>
