@{
    ViewBag.Title = "Políticas";
}

<section>
    <div class="background-container-banner  py-2 position-relative d-block" id="divBanner">
        <img class="bg-banner d-none" id="bannerPoliticas" alt="banner">
        <div class="container d-flex flex-column">
            <div class="container-text d-flex flex-column flex-md-row justify-content-between align-items-center gap-4">
                <!-- Columna de bienvenida -->
                <div class="col-12  p-0 m-0 text-center text-md-start">
                    <h3 class="fw-bold m-0 text-white text-shadow-osel">
                        POLÍTICAS
                    </h3>
                    <p class="text-base text-light m-0  fs-6 d-md-block d-none">
                        Consulta aquí las reglas que rigen las acciones de OSEL, en relación a ventas, créditos y publicidad de productos.
                    </p>
                    <p class="text-base text-light m-0  fs-6 d-md-block d-none">
                        Para cualquier información adicional comunícarse con el Gerente y/o Representante de ventas de su zona.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-sm my-2 mt-3">
        <div class="w-100 d-flex justify-content-center">
            <div class="rounded-4 card-manual">
                <div class="col-12 p-1">
                    <p class="m-0 text-lg fw-bold text-center" style="color: #2196f3;">
                        Manual de políticas
                    </p>
                    <div class="d-flex justify-content-center align-items-center mt-2">
                        <a href="~/Documentos/Manuales/Manual del Distribuidor OSEL_ Jun2023.pdf" target="_blank">
                            <img src="~/imagenes/Manuales/manual-del-distribuidor.jpg" class="img-politicas" alt="Pinturas Osel">
                        </a>
                    </div>
                    <div class="text-center">
                        <a role="link" :title="i.archivo" :href="i.ruta" download target="_blank" href="~/Documentos/Manuales/Manual del Distribuidor OSEL_ Jun2023.pdf" class="me-2 mb-1 btn btn-custom-2 mt-2">

                            Descargar
                            &nbsp;
                            <span class="bi bi-download"></span>
                        </a>
                    </div>
                </div>
                <p class="text-center txt-identidad">
                    <strong>* </strong>Da clic en la imagen para ver el contenido de este documento.
                </p>
            </div>
        </div>
    </div>

</section>


<script src="~/js/views/politicas.js" asp-append-version="true"></script>
