@{
    ViewBag.Title = "Respaldo Internacional";
}

<section>

    <div class="container-sm my-2 mt-5">
        <div class="w-100 d-flex justify-content-center">
            <div class="rounded-4 card-nosotros  px-3  px-md-5">
                @Html.Raw(ViewBag.respaldo)
            </div>
        </div>
    </div>

</section>


<script src="~/js/views/respaldo.js" asp-append-version="true"></script>
